<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assets List</title>
    <link th:href="@{/css/asset_list.css}" rel="stylesheet"/>
</head>
<body>
  <div class="background">
    <div class="parent">
        <form method="GET" action="/ui/assets/read">
            <div class="parent_table">
                <div class="action_table">
                    <img class="image" th:src="@{/images/IDO_image.png}" alt="IDO Logo"/>
                </div>
                <div class="assets_table">
                    <input class="search" placeholder="Поиск..."/>
                    <br/>
                    <br/>
                    <div class="scroll-table">
                        <div class="scroll-table-body">
                            <table>
                                <thead>
                                <tr>
                                    <th>Название блюда</th>
                                    <th>Белки</th>
                                    <th>Жиры</th>
                                    <th>Углеводы</th>
                                    <th>Ккал</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr><tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr><tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr><tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>
                                <tr>
                                    <td>Азу</td>
                                    <td>11,9</td>
                                    <td>14,2</td>
                                    <td>10,2</td>
                                    <td>214</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </form>
    </div>
  </div>
</body>
</html>