<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/assets_read.css}" rel="stylesheet"/>
    <title>User</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>

</head>

<body>
<div class="background">

    <p id="id" hidden><span th:text="${id}"/></p>
    <div class="parent">
        <div class="parent_table">
            <div class="action_table">
                <div id="images">
                    <img class="image" th:src="@{/images/IDO_image.png}" alt="IDO Logo"/>
                    <img class="image" th:src="@{/images/assets/placeholder.png}" alt="Asset Picture"/>
                </div>
                <div class="buttons">
                    <form action="/ui/assets/list" id="buttons">
                        <input class="button" type="submit" value="Back"/>
                    </form>
                </div>
                <div class="buttons1">
                    <button class="button" id="buttonUpdateEntity">Update</button>
                </div>
                <div class="buttons2">
                    <button class="button" id="buttonDeleteEntity">Delete</button>
                </div>
            </div>
            <div class="assets_table">
                <div class="scroll-table">
                    <div class="scroll-table-body">
                        <table id="entity_table" >
                            <tr>
                                <th>Property Name</th>
                                <th>Property Value</th>
                            </tr>
                        </table>

                        <br>
                        <br>

                        <!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
                        <script type="text/javascript">

                            $.ajaxSetup({
                                cache: false,
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json',
                                }
                            });

                            $(document).delegate('#buttonDeleteEntity','click',function(event){
                                event.preventDefault();

                                var id = $('#id').text();

                                console.log(id);

                                $.ajax({
                                    type: "DELETE",
                                    url: '/assets/' + id,
                                    success: function(result){
                                        location.href="/ui/assets/list";
                                        window.setTimeout(function(){
                                            location.reload();
                                        }, 1000);
                                    },
                                    error: function(err){
                                        alert('DELETE REQUEST ERROR!');
                                    }
                                });
                            });

                            function ajaxGet(){

                                var id = $('#id').text();

                                $.getJSON('/assets/' + id, function(json){

                                    console.log(json);

                                    var tr = [];
                                    var img = [];

                                    tr.push('<tr>');
                                    tr.push('<td>Идентификатор</td>');
                                    tr.push('<td>' + json.id+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Наименование актива</td>');
                                    tr.push('<td>' + json.name+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Тип актива</td>');
                                    tr.push('<td>' + json.type+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Категория актива</td>');
                                    tr.push('<td>' + json.category+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Инвентарный номер</td>');
                                    tr.push('<td>' + json.inventoryNumber+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Заводской номер</td>');
                                    tr.push('<td>' + json.factoryNumber+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Модель</td>');
                                    tr.push('<td>' + json.model+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Количество</td>');
                                    tr.push('<td>' + json.quantity+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Стоимость</td>');
                                    tr.push('<td>' + json.cost+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Балансовая стоимость</td>');
                                    tr.push('<td>' + json.balanceCost+'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Аудитория</td>');
                                    tr.push('<td>' + json.auditorium+'</td>');
                                    tr.push('</tr>');

                                    var time = new Date(json.commissioningDate);
                                    var options = {day: "numeric", month:"long", year: "numeric"};

                                    tr.push('<tr>');
                                    tr.push('<td>Дата ввода в эксплуатацию</td>');
                                    tr.push('<td>' + time.toLocaleDateString('ru-RU',options) +'</td>');
                                    tr.push('</tr>');

                                    tr.push('<tr>');
                                    tr.push('<td>Примечания</td>');
                                    tr.push('<td>' + json.note+'</td>');
                                    tr.push('</tr>');

                                    $('#entity_table').append($(tr.join('')));

                                    var path = json.name + "_" + json.inventoryNumber + "_QRCODE.png";
                                    console.log(path);

                                    img.push('<img class="image" src="/images/qrcode/'+path+'" alt="QR"/>');

                                    console.log(img);

                                    $('#images').append($(img.join('')));
                                });
                            }

                            $(document).delegate('#btnLogout','click',function(event){
                                event.preventDefault();

                                $.ajax({
                                    type: "GET",
                                    url: '/logout',
                                    success: function(result){
                                        location.href="/login";
                                        window.setTimeout(function(){
                                            location.reload();
                                        }, 1000);
                                    },
                                    error: function(err){
                                        alert('LOGOUT ERROR!');
                                    }
                                });
                            });

                            $(document).delegate('#buttonUpdateEntity','click',function(event){
                                event.preventDefault();

                                var id = $('#id').text();

                                console.log(id);

                                $.ajax({
                                    type: "GET",
                                    url: '/assets/' + id,
                                    success: function(result){
                                        location.href="/ui/assets/update/" + id;
                                        window.setTimeout(function(){
                                            location.reload();
                                        }, 1000);
                                    },
                                    error: function(err){
                                        alert('UPDATE REQUEST ERROR!');
                                    }
                                });
                            });

                            $(document).ready(function() {
                                ajaxGet();
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>