<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/assets_update.css}">
    <title>Update User</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>

<body>
<div class="background">

    <p id="assetsId" hidden><span th:text="${id}"/></p>
    <div class="parent">
        <div class="parent_table">
            <div class="action_table">
                <img class="image" th:src="@{/images/IDO_image.png}" alt="IDO Logo"/>
                <div class="buttons">
                    <button id="btnSave" class="button">Save</button>
                </div>
                <div class="buttons1">
                    <button id="btnGoToRead" class="button" type="button">Cancel</button>
                </div>
            </div>
            <div class="assets_table">
                <div class="scroll-table">
                    <div class="scroll-table-body">
    <table id="update_entity_table">
        <tr>
            <th>Property Name</th>
            <th>Property Value</th>
        </tr>
        <tr>
            <td>Id</td>
            <td><label id="assets_id" name="assets_id_name" ></label></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input id="assets_name" name="assets_name_name" type="text"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><input id="assets_type" name="assets_type_name" type="text"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td><input id="assets_category" name="assets_category_name" type="text"></td>
        </tr>
        <tr>
            <td>Inventory Number</td>
            <td><input id="assets_inventory_number" name="assets_inventory_number_name" type="text"></td>
        </tr>
        <tr>
            <td>Factory Number</td>
            <td><input id="assets_factory_number" name="assets_factory_number_name" type="text"></td>
        </tr>
        <tr>
            <td>Model</td>
            <td><input id="assets_model" name="assets_model_name" type="text"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input id="assets_quantity" name="assets_quantity_name" type="text"></td>
        </tr>
        <tr>
            <td>Cost</td>
            <td><input id="assets_cost" name="assets_cost_name" type="text"></td>
        </tr>
        <tr>
            <td>Balance Cost</td>
            <td><input id="assets_balance_cost" name="assets_balance_cost_name" type="text"></td>
        </tr>
        <tr>
            <td>Auditorium</td>
            <td><input id="assets_auditorium" name="assets_auditorium_name" type="text"></td>
        </tr>
        <tr>
            <td>Commissioning Date</td>
            <td><input id="assets_commissioning_date" name="assets_commissioning_date_name" type="text"></td>
        </tr>
        <tr>
            <td>Note</td>
            <td><input id="assets_note" name="assets_note_name" type="text"></td>
        </tr>
    </table>
    <!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->

    <script type="text/javascript">

        $.ajaxSetup({
            cache: false,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        });

        function AssetsDTO(id, name, type, category, inventoryNumber, factoryNumber, model,
                           quantity, cost, balanceCost, auditorium, commissioningDate, note){
            this.id = id;
            this.name = name;
            this.type = type;
            this.category = category;
            this.inventoryNumber = inventoryNumber;
            this.factoryNumber = factoryNumber;
            this.model = model;
            this.quantity = quantity;
            this.cost = cost;
            this.balanceCost = balanceCost;
            this.auditorium = auditorium;
            this.commissioningDate = commissioningDate;
            this.note = note;
        }

        $(document).delegate('#btnSave','click',function(event){
            event.preventDefault();

            var assetsId = $('#assetsId').text();

            var id = assetsId;
            var name = $('#assets_name').val();
            var type = $('#assets_type').val();
            var category = $('#assets_category').val();
            var inventoryNumber = $('#assets_inventory_number').val();
            var factoryNumber = $('#assets_factory_number').val();
            var model = $('#assets_model').val();
            var quantity = $('#assets_quantity').val();
            var cost = $('#assets_cost').val();
            var balanceCost = $('#assets_balance_cost').val();
            var auditorium = $('#assets_auditorium').val();
            var commissioningDate = $('#assets_commissioning_date').val();
            var note = $('#assets_note').val();

            var assetsDTO = new AssetsDTO(id,name,type,category,inventoryNumber,factoryNumber,
                model,quantity,cost,balanceCost,auditorium,commissioningDate,note);

            console.log(assetsId);
            console.log(id);
            console.log(name);
            console.log(type);
            console.log(category);
            console.log(inventoryNumber);
            console.log(factoryNumber);
            console.log(model);
            console.log(quantity);
            console.log(cost);
            console.log(balanceCost);
            console.log(auditorium);
            console.log(commissioningDate);
            console.log(note);
            console.log(assetsDTO);
            console.log(JSON.stringify(assetsDTO));

            $.ajax({
                type: "PUT",
                url: '/assets',
                data: JSON.stringify(assetsDTO),
                success: function(result){
                    location.href="/ui/assets/read/" + assetsId;
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('PUT REQUEST ERROR!');
                }
            });
        });


        $(document).delegate('#btnGoToRead','click',function(result){

            var assetsId = $('#assetsId').text();

            location.href="/ui/assets/read/" + assetsId;
            window.setTimeout(function(){
                location.reload();
            }, 1000);
        });


        function ajaxGet(){

            var assetsID = $('#assetsId').text();

            $.getJSON('/assets/' + assetsID, function(json){

                console.log(json);

                $('#assets_id').text(json.id);
                $('#assets_name').val(json.name);
                $('#assets_type').val(json.type);
                $('#assets_category').val(json.category);
                $('#assets_inventory_number').val(json.inventoryNumber);
                $('#assets_factory_number').val(json.factoryNumber);
                $('#assets_model').val(json.model);
                $('#assets_quantity').val(json.quantity);
                $('#assets_cost').val(json.cost);
                $('#assets_balance_cost').val(json.balanceCost);
                $('#assets_auditorium').val(json.auditorium);
                $('#assets_note').val(json.note);

            });
        }

        $(document).delegate('#btnLogout','click',function(event){
            event.preventDefault();

            $.ajax({
                type: "GET",
                url: '/logout',
                success: function(result){
                    location.href="/login";
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('LOGOUT ERROR!');
                }
            });
        });

        $(document).ready(function() {
            ajaxGet();
        });

    </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>